body {
    padding:0px;
    margin:0;
}

nav {
    color:white;
    background-color: rgb(12, 23, 84);
    padding:6px;
    position: fixed; 
    top: 0; 
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    font-family: 'Roboto', sans-serif;
    word-spacing: 0.5px;
    max-width: 1300px;
    
}
.article-item img{
    width:100%;
}
.article-item h3 {
    font-weight: 800;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.article-item p {
    font-weight: 300;
    line-height: 1.5em;
}
.article-item {
    margin-right: 30.72px;
    width:40%;
    
}