
*{
margin: 0;
padding: 0;
box-sizing: border-box;
position: relative;
background-color: white;
}

header{
height: 40vh;
color: white;
background-color: #0d1754;
margin:0%;
border:0%;
padding: 0%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icons{
height: 55px;
width: 200px;
}

.dropbtn {
    font-weight: 600;
    background-color: #0d1754;
    color: white;
    padding-top: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {

    display: none;
    position: absolute;
    background-color: #0d1754;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding-left: 50px;
  }
  

  
  .show {display: block;}


#radio{display: flex;
    justify-content: space-between;
}

#N{
    margin-top: 0%;
    padding-top: 0%;
    width: 100px;
    height: 50px;
}

#m{
    margin-top: 0%;
    padding-top: 0%;
    width: 50px;
    height: 50px;
}


#list{
    
    padding-left: 0%;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: 0%;
}


#g{
padding-right: 15%;

}
#wetter{
    display: flex;
   align-self: flex-end;

}

#verkehr{
    align-self: flex-end;

}

#smallbluebar {
    color:white;
    background-color: rgb(12, 23, 84);
    padding:6px;
    position: fixed; 
    top: 0; 
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    font-family: 'Roboto', sans-serif;
    word-spacing: 0.5px;
    max-width: 1300px;
    
}
.article-item img{
    width:100%;
}
.article-item h3 {
    font-weight: 800;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.article-item p {
    font-weight: 300;
    line-height: 1.5em;
}
.article-item {
    margin-right: 30.72px;
    width:40%;
    
}

footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;    
}
 
.container{
   width: 100%;
    height: 100%;
    display: inline-block;
    
}



footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
footer ul li {
    display: flex;
    flex-direction: column;
    margin: 30px;
}
footer ul li h3 {
    margin-bottom: 10px;
}
footer ul li a {
    color: white;
    padding: 5px 0px 5px 0px;
}

.section img {
    margin-top: 100px;
    text-align: left;
    cursor: none;
    margin-left: 2%;
    width: 65%;
    height: 65%;

.section {
    margin-left: 75%;
    transform: translateX(-50%);
    bottom: 350px;
    position: relative;
    opacity: 0.85;
    width: 40%;
    height: 95%;
}

.section h2 {
    font-weight: normal;
    font-size: 35px;
    top: 20px;
    font-family: "NDRSansCondBlack", "Roboto Condensed", "HelveticaNeue-CondensedBold", Impact, sans-serif;
    margin-left: 20px;

}

.section p{
    font-family: "NDRSansRegular", sans-serif;
    
    margin-left: 20px;
    margin-top: 5%;
    top: 20px;
}


.section h4{
        font-family: "NDRSansRegular", sans-serif;
        margin-left: 10px;
    }


.headerf{
        margin-top: 5%;
        top: 20px;
        display: flex;
        bottom: 20px;
    }

#logo{
    margin-top: -4%;
    width: 6%;
    height: 6%;
    margin-left: 20px;
}

@media only screen and (max-width: 850px){

nav{visibility: hidden;
    
}

